@font-face {
    font-family: HYWenHei;
    src: url(../Default_SC.ttf);
}

article {
    display: block;
    margin-top: auto;
    margin-block: auto;
    margin-left: 15px;
    text-align: center;
    background-color: #FAF0E6;
    width: 80px;
    border-radius: 10px;
    font-weight: thin;
    font-size: 80%;
}

body {
    background: #352F44;
    display: block;
}

div {
    display: block;
}

.header {
    top: 60px;
    left: 80px;
    height: 100%;
    width: 60%;
    display: flex;
    position: relative;
    margin: 10px;
    border-radius: 12px;
}

.info {
    top: 50px;
    left: 50px;
    height: 100%;
    width: 90%;
    display: block flex;
    position: relative;
    margin: 40px;
    border-radius: 12px;
    background-color: #584f70;
    flex-wrap: wrap;
    
}

.d-img-main {
    left: 20px;
    top: 50%;
    height: 200px;
    background-color: #af6f2a;
    border-radius: 12px;
}

.d-img-show {
    height: 80px;
    background-color: #af6f2a;
    border-radius: 5px;
}


.main-text {
    font-family: HYWenHei;
    flex-direction: column;
    font-weight: 400px;
    display: flex;
    color: #FAF0E6;
    margin-left: 50px;
}

.tag {
    display: flex;
    border: #af6f2a 2px;
    background-color: #5C5470;
    justify-content: center;
    position: relative;
    flex-direction: wrap;
    border-radius: 12px;
    width: 120px;
    margin: auto;
}

.base-info-item {
    border-bottom: 1px solid hsla(0, 0%, 100%, .02);
}

.base-info-item-key {
    color: hsla(0, 0%, 100%, .25);
    font-weight: bold;
    font-size: 20px;
    font-weight: 700px;
    min-width: 144px;
    width: 144px;
    word-break: break-word;
    margin: 20px;
}

.base-info-item-value {
    color: hsla(0, 0%, 100%, .85);
    font-size: 20px;
    font-weight: 400px;
    margin-left: 12px;
    min-width: 408px;
    word-break: break-word;
    margin: 20px;
}

.e-artifact-list-item {
    display: flex;
    height: auto;
    margin: auto;
    border-bottom: 1px solid hsla(0, 0%, 100%, .02);
}

.d-img-show-Artifact {
    height: 10%;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 12px;
}

.d-img-show-Artifact:hover {
    background: #5C5470;
}

.d-img-story {
    margin: 20px;
    height: 200px;
    background-color: #af6f2a;
    border-radius: 30px;
}

.story-text {
    margin: 20px;
    flex-direction: column;
    display: flex;
    color: #FAF0E6;
}

.e-artifact-list-item-title {
    font-family: HYWenHei;
    font-size: 25px;
    margin-top: 10px;
}

.e-artifact-list-item-pos {
    color: hsla(0, 0%, 100%, .45);
    margin: 5px;
}

.role {
    display: flex;
    left: auto;
    height: auto;
    width:calc(100%/3.35);
    position: relative;
    border: 5px solid #5C5470;
    margin: 15px;
    scroll-behavior: smooth;
    border-radius: 12px;
}

.role-title {
    color: hsla(0, 0%, 100%, .45);
    margin: 5px;
}
.role-tag {
    display: flex;
    background-color: #352F44;
    justify-content: center;
    border-radius: 15px;
    display: inline-block;
    font-size: 20px;
    color: #c0a59b;
    font-family: HYWenHei;
}
.role-text{
    color: hsla(0, 0%, 100%, .45);
    margin-left: 5px;
}
.role-text1{
    display: flex ;
    font-weight: bold;
    color: hsla(0, 0%, 100%, .45);
    margin-left: 5%;
    margin-top: 4%;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;

}